
.dropdown-content-create {
  display: none;
  position: absolute;
  background-color: rgb(37, 37, 37);
  z-index: 1;
  border-radius: 10px;
  right: 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.c-d {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}


